<div>
    <input class="form-check-input" type="radio" value="0" name="gender" id="flexRadioDefault1" required>
    <label class="form-check-label" for="flexRadioDefault1">
        Homem
    </label>
    <input class="form-check-input" type="radio" value="1" name="gender" id="flexRadioDefault2" required>
    <label class="form-check-label" for="flexRadioDefault2">
        Mulher
    </label><br>
</div>
<div class="mt-3">
    <input class="form-check-input" type="radio" value="1.2" name="fitness" id="flexRadioDefault1" required>
    <label class="form-check-label" for="flexRadioDefault1">
        Sedentário
    </label>
    <input class="form-check-input" type="radio" value="1.37" name="fitness" id="flexRadioDefault2" required>
    <label class="form-check-label" for="flexRadioDefault2">
        Pouco Ativo
    </label>
    <input class="form-check-input" type="radio" value="1.55" name="fitness" id="flexRadioDefault2" required>
    <label class="form-check-label" for="flexRadioDefault2">
        Moderadamente Ativo
    </label>
    <input class="form-check-input" type="radio" value="1.72" name="fitness" id="flexRadioDefault2" required>
    <label class="form-check-label" for="flexRadioDefault2">
        Muito Ativo
    </label>
    <input class="form-check-input" type="radio" value="1.9" name="fitness" id="flexRadioDefault2" required>
    <label class="form-check-label" for="flexRadioDefault2">
        Extremamente Ativo
    </label>
</div><br>